body {
  text-align: center;
  color: white;
  background-image: linear-gradient(#1a0845, #2f1768);
  font-family: "Fira Code", sans-serif;
}

h1 {
  padding-top: 20px;
}

a {
  color: hsl(258, 77%, 88%);
}

section {
  display: inline-block;
}

p {
  text-align: left;
}
