/* frutiger aero */

/* background */
body {
    background: #000;
    font-family: 'SF Pro Display', sans-serif;
	color: #FFF;
}

/* center class div which center aligns all content horizontally and vertically */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 3em;
    font-weight: 300;
    font-family: 'SF UI Text', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
}

a {
    color: #FFF;
    /* bold */
    font-weight: 600;
    text-decoration: none;
    /* margin when br is used */
    margin-bottom: 10px;
}